body, p {
	line-height: 1;
	font-family: sans-serif;
  font-size: 20px;
	background-image: url(./img/rockbackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}

.project {
  width: 320px;
  margin: 0 auto;
}

h1, h2 {
  /*font-family: monospace;*/
	font-size: 80px;
	margin: 20px;
	padding: 20px;
  width: 360px;
  margin: 0 auto;
}

h2 {
  margin-top: 300px;
  color: red;
}

#cf {
  position:relative;
  width:254px;
  height: auto;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

.project .additions {

}
